spaCy>=3.7.0,<=3.8.2
pymupdf>=1.24.0,<=1.24.11
numpy~=2.0.2
gensim<=4.3.3, >=4.0.0
pyldavis<=3.4.1
litstudy
scikit-learn~=1.5.2
dynamic_topic_modeling
bertopic[spacy]~=0.16.4
hyperopt
matplotlib~=3.10.0
jupyter
